[Unit]
Description=Run Script to improve compatibility

# Ordering
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/biglinux-improve-compatibility
User=root
Group=root

[Install]
WantedBy=multi-user.target
