[Unit]
Description=Run Script to improve compatibility
After=graphical.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/biglinux-improve-compatibility
User=root
Group=root

[Install]
WantedBy=graphical.target
